<app-navbar></app-navbar>
<app-header></app-header>
<!-- Services 1 -->
<div id="services" class="basic-1">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <div class="image-container">
                    <img class="img-fluid" src="images/services-1.jpg" alt="alternative">
                </div>
            </div>
            <div class="col-lg-5">
                <div class="text-container">
                    <h2>Photo shooting and image editing services</h2>
                    <p>who eat she defective applauded departure joy. Get dissimilar not introduced day her apartment Fully as taste he mr do smile abode every. Luckily we have words offered article led</p>
                    <a class="read-more no-line blue" href="article.html">Learn more <span class="fas fa-long-arrow-alt-right"></span></a>
                </div>
            </div>
        </div>
    </div>
</div>