<app-header></app-header>
<!-- Noticias Generales -->
<div id="services" class="basic-2" align="center">
    <h1>Noticias <br> Generales</h1>
</div>
<div *ngIf="userLogged|async as user;else InicioSesion">
    <div id="services" class="basic-1"  *ngFor="let item of noticias; let indice=index">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <h1>{{ noticias[indice].Titulo | uppercase}}</h1>
                    <hr>
                    <h5>[{{ noticias[indice].Categoria }}]</h5>
                </div>
                <div class="col-lg-5">
                    <div class="text-container">
                        <p>{{ noticias[indice].Descripcion }}</p>
                        <h5>{{ noticias[indice].Autor }} - {{ noticias[indice].Fecha }}</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #InicioSesion>
    <div id="services" class="basic-2" align="center">
        <h1>Inicia Sesión para estar al tanto de las noticias <br> más recientes</h1>
    </div>
</ng-template>